html, 
body {
  	margin:0px;
	padding:0px;
	background-image: linear-gradient(to right, #AFEEEE , #483D8B);
}

a { 
	color: black;
	font-weight: bold; 
	text-decoration: none;
}

#image {
	width: 99vw;
	text-align: center;
	position: absolute;
}

h1 {
	color:#117864;
	border: 6px #2F4F4F;
	background-color: black;
	padding: 50px;
	margin: 50px;
	padding-left: 150px;
	padding-right: 150px;
}

h3 {
	padding: 50px;
}
